<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <globalization culture="tr-TR" uiCulture="tr-TR" fileEncoding="windows-1252" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" slidingExpiration="true" timeout="2880" />
    </authentication>
    <roleManager enabled="true" defaultProvider="Roller">
      <providers>
        <add name="Roller" type="CamSistemWebArayuz.Roller.RolYonetim" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.4.0" newVersion="5.7.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>dISO/gKn5WWI9AZhh8rAccYGqRUjFZPqWm2vot2TtMPykBBGsBIj2H/LcFBlRGYvTD0jNgl8xiw229KRm7+LSDuJ6nqB8t80MlslqgpAuTS7jAApKLpfhnuOq1lLoRYEYbe7zAGWdQwwrLTQnMUuRiTK0dd5qnUe8I8C16iwGrUH6ExekkBPM6uExL73p+/3XjKfCrMbyQExquB3nnYJ0LhikKAwfn4d57+dPwfsp2LpJ8CI5cqEzFmzDvnYmp7pPOFOOLYzhQYBAJ8eWn7ytpNm03MXv5fAmflq4QMqVHznuvrSOHId1/hGWuvZhtrWxjEIsR7JaZR2ujXWJRqwFg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>LV43X1uiJm9cQxOz8FcTWSJx0oSoG+zCC8lKpYD+CfJ3UEV+J9IDEuowdVNEnCo5uQvLeRlXC00D8Vz26Y7eqoDSJlDDPK8SLWwEPjyBoRE1URv/lM+6QXgy7tULvwgzOvM/SGeK/U84c5eOKnIE2PME8oQ88uST2XWpjfhU6VbGYrre48I1q6wnTbCP0MtSURnyIQQm20wb0pBzhjMJGiodQrZeHwln+Mfz2ySkM4Li7yel7qGcrM+9Son2qEeuCiOZOa4BQAwhYaATayaJMqtgIoy4UnXW26PGthq8zWxN45lO0AYfAN7m6SkO0Xat9sJ5KGzai3/BQy5WWsmrLUydm5dK2NlGULOkFC96UPecc0zHSICXjXqzwGNFTApfkXCPalJioiw/76cHIHXi8vuS/fGlxUn8FOTG67ouE6swc9qcgK3kgum8+n3jx2ETEApjxAbcgzGavGevMOJhd6GDJS50H5KLxUTq0pMvZqnJ/2zjtKM7quYMOfLdx2Wcj59xSSSqW+Zm8TDllVrxgETtb/YlvGDZtDL3LwKJ/QPSrLAkkCwRkhRGTCTFDbvTsME6Q2FLPTxHakw2PoKrR5dHjTAjqGKo5WRui9vZD+MyNsg+xKbJBH+HImajPDBxiJhOoycAiSsM8+4kLRYdlxh1Agz6Q9TrPFiS07fqEJGPrmC8oNtt8EFwuk772kdm</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
<system.codedom>
  <compilers>
    <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
              type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform">
      <providerOption name="CompilerVersion" value="v4.0" />
      <providerOption name="WarnAsError" value="false" />
    </compiler>
    <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
              type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform">
      <providerOption name="CompilerVersion" value="v4.0" />
      <providerOption name="WarnAsError" value="false" />
    </compiler>
  </compilers>
</system.codedom>


</configuration>