@model IEnumerable<CamSistemDataLayer.Models.ProfilBoy>
@{
    ViewBag.Title = "CamSistem - Anasayfa";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="block-header">
    <h2>
        Veriler
        @*<small>Bazı alanlar için toplam kayıt sayıları.</small>*@
    </h2>
</div>
